.navSection{
    width:17.5vw;
    margin: 0;
    padding: 0;
}

#logo{
    font-family: 'insta headline';
}

.classItem , .icon {
    width: 1.7rem;
}

.classItem, .text{
    font-size: 1.2rem;
}



.navbar{
    overflow: hidden;
    width: 15vw;
    height: 100vh;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    left: 0;

}

.navbar a {
    text-decoration: none;
    padding-left: 20px;
    color: black;
    /* font-weight: ; */
}

.navbar .active {
    font-family: 'insta bold';

}

.menuItem{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.bottommenu{
    padding-top: 20px;
}

#More img{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2px;
    /* position: relative; */
    /* margin-bottom: 10px; */
}




.navbar::after {
    content: '';
    position: fixed;
    top: 0;
    left: 17vw;
    height: 100vh;
    width: 0.1px;
    background-color: gray;
    
}

.menuItem:hover{
    background-color: rgba(177, 177, 177, 0.253);
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}